<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-brand">
            <img src="{{ asset('images/logo1.jpeg') }}" width="35" height="35"
                 class="d-inline-block align-top  rounded-circle " alt="">
            Blog - Recruitment application
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_post_index') }}">List <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_post_new') }}">Create new post</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        API
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('api_doc') }}">Api</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/api/posts">All posts</a>
                    </div>
            </ul>
            {#        <form class="form-inline my-2 my-lg-0"> #}
            {#            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> #}
            {#            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> #}
            {#        </form> #}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>